body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f3f6fa;
  user-select: none;
}

p {
  font-size: 32px;
  font-weight: bold;
}
